@import "tailwindcss";

body {
  background: #ffffff;
  font-family: var(--font-inter), sans-serif;
}

h1, h2 {
  font-family: var(--font-poppins), sans-serif;
}

.custom-toast {
  width: 320px;
}

.loading-slide {
  animation: loading-slide 1.2s ease-in-out infinite;
}

@keyframes loading-slide {
  0% {
    transform: translateX(-120%);
  }

  50% {
    transform: translateX(120%);
  }

  100% {
    transform: translateX(300%);
  }
}

@media (max-width: 640px) {
  .Toastify__toast-container {
    top: 20px !important;
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%) !important;
    width: 250px !important;
  }

  .custom-toast {
    width: 280px !important;
    min-height: 50px !important;
    font-size: 13px !important;
    padding: 8px 12px !important;
    border-radius: 8px !important;
  }

}

/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;   
} */